// 
// ==================================================/
body {
  @extend %system_normal--400;
}

h1 {
  display: none;
}

.item-id {
  background-color: #ccc;
}

// headerbox1-01
// ==================================================/
@mixin headerbox1-01 {
  .headerbox1-01 {
    @extend %padd--4;
  }   
}

@include headerbox1-01;

// headerbox1-02
// ==================================================/
@mixin headerbox1-02 {
  .headerbox1-02 {
    text-align: left;
    > p {
      margin-top: -2px;
    }

    .headerbox1-02 > p,
    .headerbox1-02 > h2,
    .headerbox1-02 > hr {
      margin-left: 4px;
    }
  }
}

@include headerbox1-02;

// 
// ==================================================/